@charset "utf-8";
/* CSS Document */

p {
    font-size: 20px;
    background: -webkit-gradient(linear, left top, left bottom, from(#2b59a7), to(#FF0000));
    -webkit-background-clip: background;
    -webkit-text-fill-color: transparent;
    font-family: sans-serif;
    text-align: justify;
    align-content: center;
}

.nav{

    float:right;
    margin-top: 175px;
}
ul {

 list-style-type:none;
    float: left;
 }
li {
 margin-left:2px;
 float:left; /*pour IE*/
 }
ul li a {
    font-family: Arial Narrow, sans-serif​;
 display:flex;
 float:left;   
 width:50px;
 background: -webkit-gradient(linear, left top, from(#2b59a7), to(#FF0000));
 text-decoration-color: white;
 color:black;
    font-size: 20px;
 text-align:center;
 padding:5px;
 border:2px solid;
 /*pour avoir un effet "outset" avec IE :*/
 border-color:#e31932 #2b59a7 #2b59a7 #DCDCDC;
 }
ul li a:hover {
 background-color:#eaeaea;
 border-color:#696969 #DCDCDC #DCDCDC #696969;
 } 

.monTexte {
    float: left;
    color: blue;
    font-size: 20px;
    text-align: center; 
    font-family: Arial Narrow, sans-serif;
}

h1{
    }

body {
    background-color: whitesmoke; 
    white-space:normal;
}

.cc{
    object-position: center
}
